<div class="container">
  <div class="row">

    <div class="col-md-6">
      <mat-card class="myCard">
      <mat-tree
        [dataSource]="nestedDataSource"
        [treeControl]="nestedTreeControl"
        class="example-tree"
      >
        <mat-tree-node *matTreeNodeDef="let node" style="display: block;">
          <div style="height: 2px;"> </div>

          <li class="mat-tree-node" style="display: block ">
            <div *ngIf="node.icon == 'folder'">
              <img src="https://img.icons8.com/color/48/000000/folder-invoices.png" style="height: 20px;"/>
            </div>

            <div *ngIf="node.icon == 'assignment'">
              <img src="https://img.icons8.com/cotton/64/000000/document-1.png" style="height: 20px;"/>
            </div>
            &nbsp;{{ node.title }}
          </li>

          <div *ngIf="node.childrenLineItems != 0">
            <li class="mat-tree-node" style="display: block; padding-left:22px;">
              <div *ngFor="let lineItem of node.childrenLineItems">
                <button mat-button (click)="displayLineItem(lineItem)">
                    <img src="https://img.icons8.com/cotton/64/000000/document-1.png" style="height: 20px;"/>
                  {{lineItem.title}}
                </button>
              </div>
            </li>
          </div>

        </mat-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasSectionChildren" style="display: block;">
          <div style="height: 2px;"> </div>
          <div *ngIf="node.childrenLineItems != 0">
            <li class="mat-tree-node" style="display: block; padding-left:22px;">
              <div *ngFor="let lineItem of node.childrenLineItems">
                <button (click)="displayLineItem(lineItem)" mat-button>
                    <img src="https://img.icons8.com/cotton/64/000000/document-1.png" style="height: 20px;"/>
                  {{lineItem.title}}
                </button>
              </div>
            </li>
          </div>
          <li style="display:block;">
            <div class="mat-tree-node" style="background-color:#cbe3f5; border-radius: 2px;">

              <button mat-icon-button matTreeNodeToggle>
                <mat-icon class="mat-icon-rtl-mirror" style="top: 0px;">{{ nestedTreeControl.isExpanded(node) ? "expand_more" : "chevron_right" }} </mat-icon>
              </button>

              <div *ngIf="node.icon == 'folder'">
                <img src="https://img.icons8.com/color/48/000000/folder-invoices.png" style="height: 20px;"/>
              </div>
              &nbsp;{{ node.title }}

            </div>


            <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>

          </li>

        </mat-nested-tree-node>








        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasLineItemChildren" style="display: block;">
          <div *ngIf="node.childrenLineItems != 0">
            <li class="mat-tree-node" style="display: block; padding-left:22px;">
              <div *ngFor="let lineItem of node.childrenLineItems">
                <button (click)="displayLineItem(lineItem)" mat-button>
                    <img src="https://img.icons8.com/cotton/64/000000/document-1.png" style="height: 20px;"/>
                  {{lineItem.title}}
                </button>
              </div>
            </li>
          </div>
          <li style="display:block">
            <div class="mat-tree-node" style="background-color:#cbe3f5; border-radius: 2px;">

              <button mat-icon-button matTreeNodeToggle >
                <mat-icon class="mat-icon-rtl-mirror" style="top: 0px;">{{ nestedTreeControl.isExpanded(node) ? "expand_more" : "chevron_right" }} </mat-icon>
              </button>

              <div *ngIf="node.icon == 'folder'">
                <img src="https://img.icons8.com/color/48/000000/folder-invoices.png" style="height: 20px;"/>
              </div>
              &nbsp;{{ node.title }}

            </div>


            <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>

          </li>

        </mat-nested-tree-node>




      </mat-tree>
      </mat-card>
    </div>

<!--// comment-->

    <div class="col-md-6" >
      <!-- {{selectedNode.item}} -->

      <div *ngIf="this.selectedLineItem != null">
        <div class="container">

          <mat-card class="myCard">
          <div class="row">
            <div class="col-md-12">
              <h3 class="customLineItemHeader">TMF Rights</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 customLineItemLabel">
              Modify Rights
            </div>
            <div class="col-md-10">
              <mat-form-field style="width: 100%;">
                <mat-select [(value)]="test">
                  <mat-option *ngFor="let right of this.modifyRights" value="Brandon Rights" >
                    {{right}}
                  </mat-option>

                </mat-select>
              </mat-form-field>
            </div>
          </div>
</mat-card>
          <div style="height: 50px;"> </div>


<mat-card class="myCard">
          <div class="row">
            <div class="col-md-12">
              <h3 class="customLineItemHeader">Details</h3>

            </div>
          </div>
          <div class="row">
            <div class="col-md-2 customLineItemLabel">
              Title
            </div>
            <div class="col-md-4">
              <mat-form-field style="width: 100%;">
                <textarea matInput rows="1" [value]="this.title"></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-2 customLineItemLabel">
              Workflow
            </div>
            <div class="col-md-4">
              <mat-form-field style="width: 100%;">
                <mat-select [(value)]="test">
                  <mat-option *ngFor="let workflow of this.workflow" value="Brandon Rights">
                    {{workflow}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col-md-2 customLineItemLabel">
              Description
            </div>
            <div class="col-md-10">
              <mat-form-field style="width: 100%;">
                <textarea matInput [value]="this.description"></textarea>
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col-md-2 customLineItemLabel">
              Assignee
            </div>
            <div class="col-md-4">
              <mat-form-field style="width: 100%;">
                <mat-select [(value)]="test">
                  <mat-option *ngFor="let assign of this.assignee" value="Brandon Rights">
                    {{assign}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 customLineItemLabel">
              Due Date
            </div>
            <div class="col-md-4">
              <mat-form-field style="width: 100%;">
                <!-- <mat-label>Choose a date</mat-label> -->
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col-md-2 customLineItemLabel">
              QC Check
            </div>
            <div class="col-md-4">
              <mat-form-field style="width: 100%;">
                <mat-select [(value)]="test">
                  <mat-option *ngFor="let qc of this.qcCheck" value="Brandon Rights">
                    {{qc}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 customLineItemLabel">
              Lifecycle
            </div>
            <div class="col-md-4">
              <mat-form-field style="width: 100%;">
                <mat-select [(value)]="test">
                  <mat-option *ngFor="let lc of this.lifecycle" value="Brandon Rights">
                    {{lc}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
</mat-card>

<div style="height: 50px;"> </div>

<mat-card class="myCard">
          <div class="row">
            <div class="col-md-6 customLineItemHeader">
              Metadata
            </div>
            <div class="col-md-6 customLineItemHeader">
            Notes
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4 customLineItemLabel">
                  Milestone
                </div>
                <div class="col-md-8" >
                  <mat-form-field style="width: 100%;">
                    <mat-select [(value)]="test">
                      <mat-option *ngFor="let ms of this.milestone" value="Brandon Rights">
                        {{ms}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 customLineItemLabel">
                  Country
                </div>
                <div class="col-md-8">
                  <mat-form-field style="width: 100%;">
                    <mat-select multiple >
                      <mat-option *ngFor="let c of this.country" >
                        {{c}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 customLineItemLabel">
                  Site #
                </div>
                <div class="col-md-8">
                  <mat-form-field style="width: 100%;">
                    <mat-select [(value)]="test">
                      <mat-option *ngFor="let sn of this.siteNumber" value="Brandon Rights">
                        {{sn}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 customLineItemLabel">
                  Patient #
                </div>
                <div class="col-md-8">
                  <mat-form-field style="width: 100%;">
                    <mat-select [(value)]="test">
                      <mat-option *ngFor="let pn of this.patientNumber" value="Brandon Rights">
                        {{pn}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <mat-form-field style="width: 100%; height: 100%">
                <textarea  rows="12" cols="100" matInput [value]="this.comments"></textarea>
              </mat-form-field>
            </div>
          </div>
</mat-card>
        </div>

      </div>

      <div *ngIf="this.selectedLineItem == null">
        <p> Please select a line item </p>
      </div>
    </div>
</div>
